
<div class="max-w-md">
<h1 class="text-5xl font-bold my-4">{{ section.settings.title }}</h1>

 <div class="my-4">
    <p class="text-base md:text-xl leading-normal ">{{ section.settings.subtext_title }}</p>

 </div>

 <div class="my-4">

 {%  if section.settings.button_link==blank %} 
    {%  assign  shop_url =shop.secure_url %} 

    {% else %}
    {%  assign shop_url =section.settings.button_link %}

{% endif %} 

    <a href="{{shop_url }}" class="bg-primary text-white px-4 py-2 rounded hover:bg-primary-dark transition duration-300">{{ section.settings.button_label }}</a>
 </div>

</div>



{%  schema  %} 

{
    "name": "Template 404",
    "tag": "section",
    "class": "flex  flex-direction-column items-center justify-center text-center py-7 h-screen",
    "settings": [
        {
        "type": "text",
        "id": "title",
        "label": "404 Page Title",
        "default": "404"
        },
        {
        "type": "textarea",
        "id": "subtext_title",
        "label": "Message",
        "default": "The page you are looking for doesn't exist. Please check the URL or return to the homepage."
        },
        {
            "type": "text",
            "id": "button_label",
            "label": "Button Label",
            "default": "Return to Homepage"
        },
        
        {
            "type": "url",
            "id": "button_link",
            "label": "Button Link",
            "default": "/"
        }
    ]
}
 {% endschema %}   
